<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="main_content">
            <form class="temp_form" action=""> 
              <input type="text" id="cityName" placeholder="enter your city name" autocomplete="off">
              <input type="submit" value="search" id="submitBtn">
            </form>
          </div>
          <div class="tempInfo">
            <div class="top_layer">
              <p id="day">Tuesday</p>
              <p id="today_data">25 feb</p>
            </div>
            <div class="main_layer">
              <span class="material-symbols-outlined" style="color:white; margin-left:15px">location_on</span>
              <p id="city_name">Location</p>
              <div class="middle_layer data_hide">
                <p id="temp"><span id="temp_val">0</span><sup>o</sup>C</p>
                <p id="temp_status"> <i class='fa fa-cloud' aria-hidden="true"></i> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer code -->
    {{>footer}}

    <script src="js/main.js"></script>
    <script>

      const day = document.getElementById('day');
      const today_data = document.getElementById('today_data');
      const currDay=()=>{
            let CurrTime = new Date();
            let weekDay = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            let day = weekDay[CurrTime.getDay()];
            return day;
      }
      day.innerHTML = currDay();
      const getCurrentMonth = ()=>{
            let CurrTime = new Date();
            

            let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
            let month = months[CurrTime.getMonth()]; 
            //console.log(months[CurrTime.getMonth()]);
            let currDate = CurrTime.getDate();
            //console.log(CurrTime.getDate())
            
            return `${currDate} ${month}`;
        }

        today_data.innerHTML = getCurrentMonth()

    </script>
</body>
</html>